<%= form_for [@game, @round] do |form| %>

<table class="table table table-striped table-hover table-sm">
  <thead class="table-dark">
    <tr style="text-align: left">
      <th scope="col">Round Type</th>
      <th scope="col">Players</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">
        <div>
          <%= form.collection_check_boxes :round_type, Round.round_types.values, :to_s, :to_s do |f| %>
            <div>
              <%= f.check_box %>
              <%= f.label %>
            </div>
          <% end %>
        </div>
      </td>
      <td scope="row">
        <div>
          <%= form.collection_check_boxes :game_player_id, @game.game_players, :id, :name_with_position do |f| %>
            <div>
              <%= f.check_box %>
              <%= f.label %>
            </div>
          <% end %>
        </div>
      </td>
    </tr>
  </tbody>
</table>

    <div class="field">
    <%= form.fields_for :scores do |f| %>
      <% @game.game_players.each do |game_player| %>
        <%= f.label "#{game_player.id}", game_player.player.name %>
        <%= f.text_field "#{game_player.id}", @round.scores || { game_player.id.to_s => 0 } %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
