<h1>New Round</h1>

<%= form_for [@game, @round] do |f| %>
  <div class="field">
    <%= f.label :round_type, "Round Type" %>
    <%= f.select :round_type, Round.round_types.keys %>
  </div>

  <div class="field">
    <%= f.label :game_player_id, "Select Player" %>
    <%= f.collection_select :game_player_id, @game.game_players, :id, :name_with_position %>
  </div>

  <div class="actions">
    <%= f.submit "Create Round" %>
  </div>
<% end %>

