<table class="table table-striped table-bordered mx-auto" style="max-width: 870px;">
  <%= render 'shared/round_table_header' %>
  <tbody>
    <% @game.rounds.sort_by(&:position).each do |round| %>
      <tr>
        <td class="border border-dark"><%= round.round_type.humanize %></td>
        <% @game.game_players.each do |player| %>
          <td class="border border-dark text-center ">
            <% player_scores = round.scores || {} %>
            <% player_score = player_scores[player.id.to_s] if player_scores.present? %>
            <%= player_score || 0 %>
          </td>
        <% end %>
        <td class="border border-dark">
          <div class="btn-group game-actions">
            <%= link_to edit_game_round_path(@game, round), class:"text-decoration-none btn btn-empty btn-sm", title: 'Edit' do %>
              <i class="bi bi-pencil-fill"></i>&nbsp;
            <% end %>
            <%= button_to game_round_path(@game, round), method: :delete, class:"btn btn-empty btn-sm", title: 'Delete' do %>
              <i class="bi bi-trash3-fill"></i>&nbsp;
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
