<div class="btn-group">
  <% if game.state_created? %>
    <% if game.game_players.count >= Game::MIN_PLAYERS_PER_GAME %>
      <%= button_to start_game_game_path(game), method: :put, class:"text-decoration-none btn btn-empty btn-sm", style: "padding: 0.1rem !important;" do %>
        <i class="bi bi-play-fill" style="font-size: 1.1rem; color: #0d6efd;"></i>&nbsp;
      <% end %>
    <% end %>
    <%= button_to cancel_game_game_path(game), method: :put, class:"text-decoration-none btn btn-empty btn-sm", style: "padding: 0.1rem !important;" do %>
      <i class="bi bi-x-circle-fill" style="font-size: 1.1rem; color: #0d6efd;"></i>&nbsp;
    <% end %>
  <% elsif game.state_in_progress?%>
    <%= button_to cancel_game_game_path(game), method: :put, class:"text-decoration-none btn btn-empty btn-sm", style: "padding: 0.1rem !important;" do %>
      <i class="bi bi-x-circle-fill" style="font-size: 1.1rem; color: #0d6efd;"></i>&nbsp;
    <% end %>
    <%= button_to complete_game_game_path(game), method: :put, class:"text-decoration-none btn btn-empty btn-sm", style: "padding: 0.1rem !important;" do %>
      <i class="bi bi-check-circle-fill" style="font-size: 1.1rem; color: #0d6efd;"></i>&nbsp;
    <% end %>
  <% end %>
  <%= link_to game_path(game), class:"text-decoration-none btn btn-empty btn-sm", style: "padding: 0.1rem !important;" do %>
    <i class="bi bi-eye-fill" style="font-size: 1.1rem; color: #0d6efd;"></i>&nbsp;
  <% end %>
  <%= link_to edit_game_path(game), class:"text-decoration-none btn btn-empty btn-sm", style: "padding: 0.1rem !important;" do %>
    <i class="bi bi-pencil-fill" style="font-size: 1.1rem; color: #0d6efd;"></i>&nbsp;
  <% end %>
  <%= button_to game_path(game), method: :delete, class:"btn btn-empty btn-sm", style: "padding: 0.1rem !important;" do %>
    <i class="bi bi-trash3-fill" style="font-size: 1.1rem; color: #0d6efd;"></i>&nbsp;
  <% end %>
</div>
