<div class="btn-group">
  <%= form_for game, method: :put do |f| %>
    <%= f.hidden_field :commit, value: 'Start Game' if game.state == 'created' %>
    <%= f.hidden_field :commit, value: 'Cancel Game' if game.state == 'in_progress' || game.state == 'created' %>
    <%= f.hidden_field :commit, value: 'Complete Game' if game.state == 'in_progress' %>

    <%= f.submit 'Start Game', class: 'btn btn-primary btn-sm' if game.state == 'created' %>
    <%= f.submit 'Cancel Game', class: 'btn btn-danger btn-sm' if game.state == 'in_progress' || game.state == 'created' %>
    <%= f.submit 'Complete Game', class: 'btn btn-success btn-sm' if game.state == 'in_progress' %>
  <% end %>
  <%= link_to game_path(game), class:"text-decoration-none btn btn-empty btn-sm", style: "padding: 0.1rem !important;" do %>
    <i class="bi bi-eye-fill" style="font-size: 1.1rem; color: #0d6efd;"></i>&nbsp;
  <% end %>
  <%= link_to edit_game_path(game), class:"text-decoration-none btn btn-empty btn-sm", style: "padding: 0.1rem !important;" do %>
    <i class="bi bi-pencil-fill" style="font-size: 1.1rem; color: #0d6efd;"></i>&nbsp;
  <% end %>
  <%= button_to game_path(game), method: :delete, class:"btn btn-empty btn-sm", style: "padding: 0.1rem !important;" do %>
    <i class="bi bi-trash3-fill" style="font-size: 1.1rem; color: #0d6efd;"></i>&nbsp;
  <% end %>
</div>
