

<table class="table table table-striped table-hover tabletable-sm">
  <thead class="table-dark table-bordered ">
    <tr style="text-align: center">
      <th>
        <%= link_to "Game Number", "?sort=id&order=#{params[:sort] == 'id' && params[:order] == 'asc' ? 'desc' : 'asc'}", class:'plain-link' %>
        <% if params[:sort] == 'id' %>
          <% if params[:order] == 'asc' %>
            <i class="bi bi-arrow-up"></i>
          <% else %>
            <i class="bi bi-arrow-down"></i>
          <% end %>
        <% end %>
      </th>
      <th>
        <%= link_to "State", "?sort=state&order=#{params[:sort] == 'state' && params[:order] == 'asc' ? 'desc' : 'asc'}", class:'plain-link' %>
        <% if params[:sort] == 'state' %>
          <% if params[:order] == 'asc' %>
            <i class="bi bi-arrow-up"></i>
          <% else %>
            <i class="bi bi-arrow-down"></i>
          <% end %>
        <% end %>
      </th>
      <th>
        <%= link_to "Created At", "?sort=created_at&order=#{params[:sort] == 'created_at' && params[:order] == 'asc' ? 'desc' : 'asc'}", class:'plain-link' %>
        <% if params[:sort] == 'created_at' %>
          <% if params[:order] == 'asc' %>
            <i class="bi bi-arrow-up"></i>
          <% else %>
            <i class="bi bi-arrow-down"></i>
          <% end %>
        <% end %>
      </th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody style="text-align: center">
    <% @games.each do |game| %>
      <tr>
        <th scope="row"><%= game.id.split("-").first %></th>
        <td scope="row"><%= game.state.humanize %></td>
        <td scope="row"><%= time_ago_in_words(game.created_at) %></td>
        <td scope="row">
          <div class="btn-group">
            <%= link_to game_path(game), class:"text-decoration-none" do %>
              <i class="bi bi-eye-fill" style="font-size: 1.2rem; color: blue;"></i>&nbsp;
            <% end %>
            <%= link_to edit_game_path(game), class:"text-decoration-none" do %>
              <i class="bi bi-pencil-fill" style="font-size: 1.2rem; color: blue;"></i>&nbsp;
            <% end %>
            <%= button_to game_path(game), method: :delete, class:"text-decoration-none", class:"btn btn-empty btn-sm" do %>
              <i class="bi bi-trash3-fill" style="color: blue;"></i>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


