<h1>
  <p style="float: left;">
    Editing Game <%= @game.id.split("-").first %>
    <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap">
      <span class="badge rounded-pill bg-info"><%= @game.state.humanize %></span>
    </a>
  </p>
  <p style="float: right;"><%= link_to "Back to games", games_path, class: "btn btn-primary" %></p>
</h1>

<%= form_with(model: @game, local: true) do |form| %>
  <table class="table table table-striped table-hover table-sm">
    <thead class="table-dark">
      <tr style="text-align: left">
        <th scope="col">Selected Players</th>
        <th scope="col">Unselected Players</th>
        <th scope="col">Created</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody style="text-align: left">
      <tr>
        <td>
          <% if @game.state_created? %>
            <div>
              <%= form.collection_check_boxes :player_ids, @game.game_players, :player_id, :name_with_position do |b| %>
                <%= b.check_box %>
                <%= b.label %>
              <% end %>
            </div>
          <% else %>
            <% @game.game_players.each do |player| %>
              <div><%= player.name_with_position %></div>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if @game.state_created? %>
            <div>
              <%= form.collection_check_boxes :player_ids, Player.where.not(id: @game.players.pluck(:id)), :id, :name do |b|%>
                <%= b.check_box %>
                <%= b.label %>
              <% end %>
            </div>
          <% else %>
            Cannot add more players.
          <% end %>
        </td>
        <td scope="row"><%= time_ago_in_words(@game.created_at) %></td>
        <td scope="row"><%= render 'games/action_buttons', game: @game %></td>
      </tr>
    </tbody>
  </table>
  <%= form.submit "Save", class: "btn btn-primary" %>
<% end %>
