<h1>
  <p style="float: left;">
    Edit Game <%= @game.id.split("-").first %>
      <span class="badge rounded-pill bg-info"><%= @game.state.humanize %></span>
    </a>
  </p>
  <p style="float: right;"><%= link_to "Back to games", games_path, class: "btn btn-primary" %></p>
</h1>

<%= form_with(model: @game, local: true) do |form| %>
  <% if @game.state_created? %>
    <table class="table table table-striped table-hover table-sm">
      <thead class="table-dark">
        <tr style="text-align: left">
          <th scope="col">Selected Players</th>
          <th scope="col">Unselected Players</th>
          <th scope="col">Created</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody style="text-align: left">
        <tr>
          <td>
            <div>
              <%= form.collection_check_boxes :player_ids, @game.game_players, :player_id, :name_with_position do |b| %>
                <div>
                  <%= b.check_box %>
                  <%= b.label %>
                </div>
              <% end %>
            </div>
          </td>
          <td>
            <div>
              <%= form.collection_check_boxes :player_ids, Player.where.not(id: @game.players.pluck(:id)), :id, :name do |b|%>
                <div>
                  <%= b.check_box %>
                  <%= b.label %>
                </div>
              <% end %>
            </div>
          </td>
          <td scope="row"><%= time_ago_in_words(@game.created_at) %></td>
          <td scope="row"><%= render 'games/action_buttons', game: @game %></td>
        </tr>
      </tbody>
    </table>
  <% else %>
    <table class="table table table-striped table-hover table-sm mx-auto" style="max-width: 1100px;">
      <thead class="table-dark text-center align-middle">
        <tr>
          <th scope="col">Created</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="text-center align-middle">
        <tr>
          <td scope="row"><%= time_ago_in_words(@game.created_at) %></td>
          </td>
          <td scope="row"><%= render 'games/action_buttons', game: @game %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <%= render 'shared/round_type_table', edit_page: true, add_round_button: false %>
  <%= render 'shared/round_total_score_table', edit_page: true %>
  <%= render 'shared/round_score_table', edit_page: true, add_round_button: true %>

  <div class="d-flex justify-content-center">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
