<h1>
  <p style="float: left;">
    New Game
    <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap"></a>
  </p>
  <p style="float: right;"><%= link_to "Back to games", games_path, class: "btn btn-primary" %></p>
</h1>

<%= form_with(model: @game, local: true) do |form| %>
  <table class="table table table-striped table-hover table-sm">
    <thead class="table-dark">
      <tr style="text-align: left">
        <th scope="col">Players</th>
      </tr>
    </thead>
    <tbody style="text-align: left">
      <tr>
        <td scope="row">
          <div class="field">
            <div class="checkbox-list">
              <% Player.all.each do |player| %>
                <div>
                  <%= form.check_box :player_ids, { multiple: true }, player.id, nil %>
                  <%= form.label :player_ids, player.name %>
                </div>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <%= form.submit 'Create Game', class: 'btn btn-primary' %>
<% end %>
