<h1>
  <p style="float: left;">
    Game <%= @game.id.split("-").first %>
    <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap">
      <span class="badge rounded-pill bg-info"><%= @game.state.humanize %></span>
    </a>
  </p>
  <p style="float: right;"><%= link_to "Back to games", games_path, class: "btn btn-primary" %></p>
</h1>

<table class="table table table-striped table-hover table-sm">
  <thead class="table-dark">
    <tr style="text-align: left">
      <th scope="col">Players</th>
      <th scope="col">Created</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody style="text-align: left">
    <tr>
      <td scope="row">
        <% if @game.game_players.any? %>
          <% @game.game_players.each do |player| %>
            <div><%= player.name_with_position %></div>
          <% end %>
        <% else %>
          No players
        <% end %>
      <td scope="row"><%= time_ago_in_words(@game.created_at) %></td>
      </td>
      <td scope="row"><%= render 'games/action_buttons', game: @game %></td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between align-items-center">
  <h2 class="mx-auto">Rounds</h2>
  <%= link_to new_game_round_path(@game), class:"text-decoration-none btn btn-empty game-actions" do %>
    <i class="bi bi-plus-square-fill" style="font-size: 2.5em;"></i>&nbsp;
  <% end %>
</div>

<%= render 'shared/round_type_table' %>

<% if @game.rounds.any? %>
  <%= render 'shared/round_total_score_table' %>
  <%= render 'shared/round_score_table' %>
<% end %>
