<h1>
  <p style="float: left;">
    Game <%= @game.id.split("-").first %>
    <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap">
      <span class="badge rounded-pill bg-info"><%= @game.state.humanize %></span>
    </a>
  </p>
  <p style="float: right;"><%= link_to "Back to games", games_path, class: "btn btn-primary" %></p>
</h1>

<table class="table table table-striped table-hover table-sm mx-auto" style="max-width: 1100px;">
  <thead class="table-dark text-center align-middle">
    <tr>
      <% if @game.state_created? %>
        <th scope="col">Players</th>
      <% end %>
      <th scope="col">Created</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody class="text-center align-middle">
    <tr>
      <% if @game.state_created? %>
        <td scope="row">
            <% @game.players.each do |player| %>
              <%= player.name %><br>
            <% end %>
        </td>
      <% end %>
      <td scope="row"><%= time_ago_in_words(@game.created_at) %></td>
      </td>
      <td scope="row"><%= render 'games/action_buttons', game: @game %></td>
    </tr>
  </tbody>
</table>

<% if !@game.state_created? %>
  <%= render 'shared/round_type_table', edit_page: false %>
  <%= render 'shared/round_total_score_table', edit_page: false %>
  <%= render 'shared/round_score_table', edit_page: false, add_round_button: true %>
<% end %>
