<p style="color: green"><%= notice %></p>

<%= render @game %>

<div class="btn-group">
  <%= link_to "Edit", edit_game_path(@game), class: "btn btn-info btn-sm" %>&nbsp;
  <%= link_to "Back to games", games_path, class: "btn btn-info btn-sm" %>&nbsp;
  <%= button_to "Delete", @game, method: :delete, class: "btn btn-danger btn-sm" %>
</div>


