<%= form_with model: player, id: dom_id(player, "form"), class: "table min-w-full" do |form| %>
  <div class="block rounded-md border border-gray-200 outline-none px-3 py-2  w-full">
    <%= player.id&.split("-")&.first %>
  </div>
  <div>
    <%= form.text_field :name, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
    <%= inline_error_for(:name, player) %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
