<table class="table table table-striped table-hover table-sm">
  <thead class="table-dark">
    <tr style="text-align: left">
      <%= render 'shared/table_header', header_name: 'Name', sort_key: 'name' %>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody style="text-align: left">
    <% @players.each do |player| %>
      <tr>
        <td scope="row"><%= player.name %></td>
        <td scope="row">
          <div class="btn-group">
            <%= link_to player_path(player), class:"text-decoration-none" do %>
              <i class="bi bi-eye-fill" style="font-size: 1.2rem; color: blue;"></i>&nbsp;
            <% end %>
            <%= link_to edit_player_path(player), class:"text-decoration-none" do %>
              <i class="bi bi-pencil-fill" style="font-size: 1.2rem; color: blue;"></i>&nbsp;
            <% end %>
            <%= button_to player_path(player), method: :delete, class:"text-decoration-none", class:"btn btn-empty btn-sm" do %>
              <i class="bi bi-trash3-fill" style="color: blue;"></i>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

