<h1>
  <p style="float: left;">Editing player - <%= @player.name %></p>
  <p style="float: right;"><%= link_to "Back to players", players_path, class: "btn btn-primary btn-sm" %></p>
</h1>
<br/><br/>
<%= form_with model: @player, url: player_path(@player), method: :put do |form| %>
  <br/>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input class="form-control" id <%= form.text_field :name %>
    <br/>
    <%= form.submit 'Save', class:"btn btn-primary btn-sm" %>
  </div>
<% end %>
