<%= turbo_stream_from "players" %>

<main class="container">
  <div class="header">
    <h1>Players</h1>
    <%= link_to "New player",
                new_player_path,
                data: { turbo_frame: dom_id(Player.new) },
                class: "btn btn-primary" %>
  </div>

  <%= turbo_frame_tag Player.new %>

  <%= turbo_frame_tag "players" do %>
    <%= render @players %>
  <% end %>
</main>
